* {
    color: white;
    font-family: "Urbanist", sans-serif;
}

/* ------------------------- Header ---------------- */
header {
    border-radius: 25px;
    border: 8px none white;
    border-top-style: double;
    border-bottom-style: double;
    padding: 15px;
    background-color: #111111;
    overflow:hidden;
}

#optionsMenu {
    margin-top: 15px;
}

#optionsMenu > button {
    display: block;
    border-radius: 15%;
    width: 100%;
    max-width: 150px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
}

button {
    background-color: black;
    color: orange;
    font-size: 1.2em;
    padding: 5px;
    border-radius: 10%;    
}

#changeMode {
    clear: right;
}

#siteTitle {
    min-height: 120px;
}

h1 {
    margin: 0px;
    font-size: 3.5em;
    min-height: 70px;
    margin-top: 25px;
    margin-bottom: 25px;
}

/* ----------------- Header END ---------------- */



li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    text-align: center;
    background-color: #f72;
}

#sggs {
    padding: 15px 0px;
    margin: 10px;
    /* border-bottom: 2px solid #ffffff; */
}

#pageInput {
    width: 60px;
    height: 30px;
    color: black;
    font-size: 20px;
    text-align: right;
}



.row {
    margin: 0px 3px;
}

#linkArea {
    text-align: left;
    position: relative;
    padding: 0px;
}

#options {
    background-color: #000;
    padding: 0px;
    font-size: 2em;
}

#baniList {
    background-color: #181818;
    font-size: 2em;
    padding: 0px
}

#sectionTitle, #options > h2 {
    font-size: 1.4em;
    padding-top: 20px;
    padding-bottom: 15px;
}

#sectionTitle {
    color: #f72;
    float: left;
    width: 100%;
    background-color: #111;
}

#options > ul {
    margin-left: 16px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 2px;
    background-color: #111;
}

#options > h2 {
    margin: 0px;
}

#options > ul > a > li {
    padding: 8px 0px 8px 30px;
    line-height: 1.6;
}

#options > ul > a > li:hover {
    background-color: #282828;
}

#baniList > ul > li > a {
    color: orange;
}

#baniList > ul > li > a:hover {
    color: #f72;
}

#baniList > ul {
    clear: both;
    line-height: 1.6;
}

#baniList > button {
    float: right;
}

/* #linkArea > div div {
    height: 350px;
} */

@media (min-width: 768px) {
    #baniList > button {
        display: none;
    }

    #options {
        display: block;
    }
}

@media (max-width: 767px) {
    #options {
        position:absolute;
        width: 99%;
    }
    #baniList > button {
        float: right;
        width: 20%;
    }
    #sectionTitle {
        width: 80%;
    }
}


@media (max-width: 575px) {
    #options > ul > a > li{
        font-size: 0.7em;
    }

    #baniList > ul > li > a {
        font-size: 0.7em;
    }

    #baniList > ul {
        line-height: 1.2;
    }
    /* #baniList > button {
        width: 70px;
    } */
    #sectionTitle {
        font-size: 0.9em;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    #options > ul > a > li {
        font-size: 0.9em;
    }
    #baniList > ul {
        line-height: 1.8;
    }
    #sectionTitle {
        font-size: 1.2em;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    #options > ul > a > li {
        font-size: 0.9em;
    }
    #sectionTitle {
        font-size: 0.9em;
    }
}


/* .baniOptions {
    display: inline-block;
    position: relative;
    margin-left: 1.5%;
    width: 19%;
    text-align: left;
    vertical-align: top;
    padding: 0px 18px 0px 18px;
    border: 4px double white;
    border-radius: 10px;
    
} */

/* li:hover {
    color: #dd7722;
    font-size: 20px;
} */

/* 
#nitnemOpt {
    margin-left: 0;
} */

/* .optionsHeading {
    font-size: 25px;
    color: orange;
    margin-top: 20px;
    margin-bottom: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 8px 0px 8px 0px;
} */

/* ul {
    padding-left: 20px;
    line-height: 1.5;
} */

/* #baniSelection {
    padding-top: 5%;
    padding-bottom: 2%;
    background-color: black;
} */