* {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
}

.baniOptions {
    display: inline-block;
    position: relative;
    margin-left: 1.5%;
    width: 19%;
    text-align: left;
    vertical-align: top;
    padding: 0px 18px 0px 18px;
    border: 4px double white;
    border-radius: 10px;
    
}

li {
    font-size: 18px;
    list-style-type: none;
}

ul {
    padding-left: 20px;
    line-height: 1.5;
}
a {
    text-decoration: none;
}

li:hover {
    color: #dd7722;
    font-size: 20px;
}

body {
    text-align: center;
    background-color: #222222;
}

#nitnemOpt {
    margin-left: 0;
}

#header {
    text-align: center;
    border-radius: 25px;
    margin: auto;
    font-size: 2em;
    border: 8px none white;
    border-top-style: double;
    border-bottom-style: double;
    background-color: #111111;
}


#tog {
    margin-top: 2%;
    margin-left: 40%;
    position: absolute;
    width: 7.5%;
}

#changeMode {
    margin-top: 2%;
    margin-left: 28%;
    width: 10%;
    position: absolute;
}

button {
    color: black;
    font-size: 18px;
    padding: 5px;
    border-radius: 15%;
}

button:hover {
    background-color: black;
    color: orange;
    
}

.optionsHeading {
    font-size: 25px;
    color: orange;
    margin-top: 20px;
    margin-bottom: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    /* border-bottom: 2px orange solid; */
    padding: 8px 0px 8px 0px;
}

#sggs {
    padding: 3px;
    margin: 10px 0px 10px 0px;
    border-bottom: 2px solid #ffffff;
}

#pageInput {
    width: 60px;
    height: 30px;
    color: black;
    font-size: 20px;
    text-align: right;
}

h1 {
    margin: 0px;
    line-height: 2.5;
}

#baniSelection {
    padding-top: 5%;
    padding-bottom: 2%;
    background-color: black;
}